.gallery {
    --n: 1; /* number of rows*/
    --m: 5; /* number of columns */
    --g: 0px;  /* control the gap */
    --f: .8;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: 100vw;
    height: 50vh;
    grid-template-columns: repeat(var(--m),auto);
  }
  
  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery img:hover{
    filter: grayscale(0);
    width:  calc(30vh*var(--f)/var(--n));
    height: calc(30vw*var(--f)/var(--m));
  }
  .wrapper{
    display: flex;
    align-items: center;

  }
  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .space {
    width: 105%;
    height: 10%;
    background-color: #fedb6b;
    
  }